from fastapi import FastAPI
from pydantic import BaseModel
import joblib
import onnxruntime as rt
import numpy as np

app = FastAPI()
{{range .ModelCode.Session}}{{.}}{{end}}

{{.InputCode.Type}}
{{.OutputCode.Type}}

@app.post('/')
async def root({{.InputCode.Body}}):
{{range .PipelineCode.Pipelines}}{{range .}}    {{.}}
{{end}}{{end}}
{{range .PipelineCode.Aggregation}}    {{.}}
{{end}}
{{range .ModelCode.Prediction}}    {{.}}
{{end}}
    return {{.OutputCode.Prediction}}
